extends layout

block head
	title #{waterBodyName}

block content
	h1 #{waterBodyName}

	if humidityData.length != 0
		table.table.table-striped#humidityDataTable
			thead
				tr
					th Date
					th Time
					th Humidity

			tbody
				each humidityInfo in humidityData
					tr
						td #{humidityInfo.date}
						td #{humidityInfo.time}
						td #{humidityInfo.humidity}

	else
		p Data not available

block append scripts
	script(src="/socket.io/socket.io.js")
	script(src="/scripts/update_humidity_page.js")
