extends layout

block head
	title #{waterBodyName} - Water Monitoring App

block content
	.container
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link.active(data-toggle="tab" href="#table-tab") Table
			li.nav-item
				a.nav-link(data-toggle="tab" href="#graph-tab") Graph
		
		.tab-content
			.tab-pane.in.active#table-tab
				h1 #{waterBodyName}

				if temperatureData.length != 0
					table#temperatureDataTable.table.table-striped
						thead
							tr
								th Date
								th Time
								th Temperature

						tbody
							each temperatureInfo in temperatureData
								tr
									td #{temperatureInfo.date}
									td #{temperatureInfo.time}
									td #{temperatureInfo.temperature}
				else
					p Data not available

			.tab-pane.fade.in#graph-tab
				canvas#temperature-chart(width="undefined" height="undefined")

block append scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
	script(src="/scripts/draw_chart.js")
	script.
		let labels = [];
		let dataset = [];
		let temperatureData = !{JSON.stringify(temperatureData)}
		temperatureData.reverse().forEach((info) => {
			let timeRegex = new RegExp(/[0-9]{2}:[0-9]{2}/);

			labels.push(timeRegex.exec(info.time)[0]);
			dataset.push(info.temperature);
		});
		drawTemperatureChart(document.getElementById('temperature-chart'), labels, dataset);

	script(src='/socket.io/socket.io.js')
	script(src='/scripts/update_temperature_page.js')