extends layout

block head
	title #{waterBody.name} - Water Monitoring App

block content
	.container
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link.active(data-toggle="tab" href="#table-tab") Table
			li.nav-item
				a.nav-link(data-toggle="tab" href="#graph-tab") Graph
		
		.tab-content
			.tab-pane.in.active#table-tab
				h1 #{waterBodyName}

				if temperatureData.length != 0
					table#temperatureHumidityDataTable.table.table-striped
						thead
							tr
								th Date
								th Time
								th Temperature
								th Humidity

						tbody
							- for (let i = 0; i < temperatureData.length; i++)
									tr
										td #{temperatureData[i].date}
										td #{temperatureData[i].time}
										td #{temperatureData[i].temperature}
										td #{humidityData[i].humidity}
				else
					p Data not available

			.tab-pane.fade.in#graph-tab
				canvas#temperature-humidity-chart(width="undefined" height="undefined")

				script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
				script.
					let ctx = document.getElementById('temperature-humidity-chart').getContext('2d');

					let temperatureDataPoints = [];
					let humidityDataPoints = [];
					let timeLabels = [];

					fetch(`/api/waterbodies/#{waterBodyId}`)
						.then(function(response) {
							return response.json();
						})
						.then(function(json) {
							for (info of json.data.reverse()) {
								timeLabels.push(info.time);
								temperatureDataPoints.push(parseFloat(info.temperature));
								humidityDataPoints.push(parseFloat(info.humidity));
							}

							let chart = new Chart(ctx, {
								type: 'line',
								data: {
									labels: timeLabels,
									datasets: [{
										label: 'Temperature',
										fill: false,
										borderColor: '#7FFF00',
										backgroundColor: '#7FFF00',
										data: temperatureDataPoints
									}, {
										label: 'Humidity',
										fill: false,
										borderColor: '#FF7F50',
										backgroundColor: '#FF7F50',
										data: humidityDataPoints
									}]
								},
								options: {
									title: {
										display: true,
										text: 'Variation of temperature and humidity with time'
									}
								}
							});
						});

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/update_temperature_humidity.js')