extends layout

block head
	title #{waterBody.name} - Water Monitoring App

block content
	h1 #{waterBody.name}

	if temperatureData.length != 0
		table#temperatureDataTable.table.table-striped
			thead
				tr
					th Date
					th Time
					th
						| Minimum 
						br
						| Temperature
					th 
						| Maximum 
						br
						| Temperature
					th Humidity

			tbody
				- for (let i = 0; i < temperatureData.length; i++)
						tr
							td #{temperatureData[i].date}
							td #{temperatureData[i].time}
							td #{temperatureData[i].minimumTemperature}
							td #{temperatureData[i].maximumTemperature}
							td #{humidityData[i].humidity}
	else
		p Data not available

block append scripts
	script(src='/scripts/update_temperature_page.js')