extends layout

block head
	title #{waterBodyName} - Water Monitoring App

block content
	h1 #{waterBodyName}

	if temperatureData.length != 0
		table#temperatureDataTable.table.table-striped
			thead
				tr
					th Date
					th Time
					th
						| Minimum 
						br
						| Temperature
					th 
						| Maximum 
						br
						| Temperature

			tbody
				each temperatureInfo in temperatureData
					tr
						td #{temperatureInfo.date}
						td #{temperatureInfo.time}
						td #{temperatureInfo.minimumTemperature}
						td #{temperatureInfo.maximumTemperature}
	else
		p Data not available

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/update_temperature_page.js')